<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Donation</title>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/Donation.css}">
</head>
<body>
<a href="http://localhost:7007">Back</a>
    <div class="background-image"></div>
    <h1>Donation Date</h1>
    <form action="#" th:action="@{/nextDonationDate}" th:object="${Register}" method="post">
        <label for="usermobile">Mobile Number:</label><br>
        <input type="text" id="user_mobiler" name="usermobile" th:field="*{usermobile}"><br>
        <input type="submit" value="Check Donation Date">
    </form>
    <p th:text="${donationStatus}"></p>
</body>
</html>