<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/supply.css}">
    <title>Supply Blood</title>
</head>

<body>
    <br><a href="/admin/home">Back</a></br>
    <h2 align="center">Supply Blood</h2>
    <form action="#" th:action="@{/supply}" th:object="${supply}" method="post">
        <label for="type">Blood Type:</label><br>
        <input type="text" id="type" name="type" th:field="*{type}"><br>
        <label for="units">Units:</label><br>
        <input type="number" id="units" name="units" th:field="*{units}"><br>
        <input type="submit" value="Supply">
    </form>
</body>
</html>
