<!-- home.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER HOME</title>
     <link rel="stylesheet" href="" th:href="@{/UserHome.css}">
</head>
<body>
   
    <nav>
				  <a href="#">Home</a>
				  
				
				  <a th:href="@{/donate}">donate Now!!!</a>
					 
	</nav>
	 <h4><a href="http://localhost:7007">Back</a></h4>
    <div class="home-container">
        <h2 class="text-center">Welcome, Donor!</h2>
        <p class="text-center">Congratulations! You have successfully logged in.</p>
    </div>
    
    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

